.apps-style1{
    position: relative;
    .cta-img {
        text-align: right;
    }
    .app-title{
        color: $white-color;
        font-size: 48px;
        margin-bottom: 18px;
    }
    .app-text{
        margin-bottom: 30px;
    }
}
.apps-layout1{
    padding: 40px 0;
}
.apps-btns{
    display: inline-flex;
    gap: 20px;
}


@include lg{
    .apps-style1{
        .app-title {
        font-size: 36px;
        }
         .cta-img {
         text-align: center;
        }
    }
    
}